// Glyphicons font path
$icon-font-path:        "../fonts/";

$font-family-sans-serif: "Open sans", sans-serif !default;

$font-size-base: 16px !default;

// Colors
$brand-primary:         #ff00ff;

// animations
$default-time: 300ms;